.flex-container-horario{
    margin: 2px;
    text-align: center;
    border:2px solid black;
    width: 650px;
    height: 350px;
    padding: 40px;
    display: flex;
    background-color: white;
}

.Box{
    margin: 2px;
    border: 2px solid black;
    text-align:center;
}

.TituloHorari{
    line-height:100px;
    background-color:white;
    margin: 2px;
    height:90px;
    text-align: center;
}

.SMX{
    line-height: 50px;
    text-align: center;
    height: 40px;
    margin: 2px;
    width: 530px;
    background-color:white;
}

.container-dias{
    width: 530px;
    margin: 2px;
    text-align: center;
    height: 55px;
    display: flex;
}

.Dias{
    line-height: 60px;
    background-color: white;
    width: 100px;
    height: 50px;
    margin: 2px;
    text-align: center;
}

.Horesflex{
    width: 100px;
    height: 26px;
    flex-direction: row;
    background-color: white;
    border: 2px solid black;
    line-height: 30px;
    display: flex;
    margin: 2px;
    text-align: center;
}

.Container-horas{
    display: flex;
    margin: 2px;
    text-align: center;
    flex-direction: column;
    border: 2px solid black;
}

.c2{
    height: 53px;
    width: 98px;
    margin: 2px;
    line-height: 50px;
    text-align: center;
}

.c1{
    height: 24px;
    margin: 2px;
    text-align: center;
    line-height: 24px;
    width: 100px;
}

.patioflex{
    height: 25px;
    text-align: center;
    background-color:white;
    margin: 2px;
    line-height: 25px;
    width: 527px;
}

.clases{
    display: flex;
    margin: 2px;
    flex-direction: row;
}