h1{

    color:blueviolet;
    font-style: oblique;
    
}
    
.husky{
    
    width: 300px;
    
}
    
h2{
    
    color:blueviolet;
    
}
.flex-container{
    border:1px solid black
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-direction:row;
}
.caja {
    border:1px solid rgb (70,69,69);
    background-color: white
    color: black;
    width:120px;
    hidth:120px;
    line-

}